@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-family: 'Poppins', sans-serif;
}
p{
    color: #8A8A8A;
}